# default owners
* @albrja @hussain-jafari @patricktnast @rmudambi @stevebachmeier
/docs/* @ihmeuw/vivarium-research @ihmeuw/vivarium-dev
*.rst @ihmeuw/vivarium-research @ihmeuw/vivarium-dev @zmbc @pletale
