# -----------------------------------------------------------------------------
#   - invoked on push, pull_request, manual trigger, or schedule
#   - test under all supported versions of python (python_versions.json)
# -----------------------------------------------------------------------------
name: build
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"
  
jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    uses: 
      ihmeuw/vivarium_build_utils/.github/workflows/build.yml@main
    with:
      dependencies: "layered_config_tree"
      python_version: ${{ matrix.python-version }}
      skip_mypy: true
    secrets:
      notify_email: ${{ secrets.NOTIFY_EMAIL }}
      NOTIFY_PASSWORD: ${{ secrets.NOTIFY_PASSWORD }}
